*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
_site
_dist
_package
sea-modules
spm_modules
.cache
.idea
npm-debug
.gulp
_tmp
www/
.vscode
config/userSetConfig
lib
source
garbage
es